[submodule "gtest"]
	path = tests/gtest
	url = https://git@github.com/google/googletest.git

[submodule "openal-soft"]
    path = external_src/openal-soft
    url = https://github.com/kcat/openal-soft.git