# Ignore windows build files
/bin/
/build/

# Linux ignores
build/
.ycm_extra_conf.py*

# Clion
.idea/
.run/project.run.xml

# Cmake
cmake-build-debug/

*.ini

cmake-build-debug-visual-studio/
CMakeFiles/
Makefile
*.cmake
CMakeCache.txt
*.a
cmake-build-debug-coverage/
